<template>
  <div>
    <v-app-bar color="deep-purple" dark>
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

      <v-toolbar-title> Drinking Machine</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn to="/login" nuxt v-if="!isAuthenticated"> Login </v-btn>

      <div v-else>
        <v-btn icon color="indigo" to="/profile">
          <v-icon>mdi-account-circle</v-icon>
        </v-btn>

        <v-btn nuxt @click="logout"> Logout </v-btn>
      </div>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list nav dense>
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item to="/">
            <v-list-item-icon>
              <v-icon>mdi-format-list-bulleted-square</v-icon>
            </v-list-item-icon>
            <v-list-item-title>รายการ</v-list-item-title>
          </v-list-item>

          <v-list-item to="/location" v-if="isAuthenticated">
            <v-list-item-icon>
              <v-icon>mdi-google-maps</v-icon>
            </v-list-item-icon>
            <v-list-item-title>ตำแหน่งตู้</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    middleware: 'isAuthenticated',

    data() {
      return {
        drawer: false,
        group: null,
      }
    },

    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
    },

    methods: {
      async logout() {
        await this.$auth.logout()
        await this.$router.replace({ name: 'login' })
      },
    },
  }
</script>