
<template>
  <div>
    <v-content>
      <v-container>
        <v-row justify="center" align="center">
          <v-col
            cols="12"
            sm="6"
            md="4"
            v-for="(item, index) in machineCompanyProducts"
            :key="index"
          >
            <v-card :loading="loading" class="mx-auto my-12" max-width="374">
              <v-card-title>{{ item.name }}</v-card-title>
              <v-divider class="mx-4"></v-divider>
              <v-card-text>
                <div>คงเหลือ {{ item.quantity }} ชิ้น</div>
              </v-card-text>
              <v-divider class="mx-4"></v-divider>
              <v-card-actions>
                <v-btn color="#DA1400" dark block @click="buy(item)">
                  ซื้อ
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </div>
</template>

<script>
  export default {
    data() {
      return {}
    },

    async created() {
      await this.getProduct()
    },

    computed: {
      machineCompanyProducts() {
        return this.$store.getters.getAllProduct
      },
    },

    methods: {
      async getProduct() {
        this.$store.dispatch('getProduct', this.$route.params.id)
      },
      async buy(item) {
        this.$swal({
          title: 'ยืนยันการซื้อ',
          text: 'คุณต้องการซื้อใช่หรือไม่',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'ใช่',
          cancelButtonText: 'ไม่',
          showCloseButton: true,
        }).then((result) => {
          if (result.value) {
            this.buyProduct(item)
          }
        })
      },

      async buyProduct(item) {
        await this.$store.dispatch('buyProduct', item)
        if ((await this.$store.getters.resBuyProduct.status) === 'success') {
          await this.getProduct()
        }
      },
    },
  }
</script>
