<template>
  <div>
    <v-content>
      <v-container>
        <v-row justify="center" align="center">
          <v-col
            cols="12"
            sm="6"
            md="4"
            v-for="(item, index) in machineCompanys"
            :key="index"
          >
            <v-card class="mx-auto" max-width="344">
              <v-img
                lazy-src="https://picsum.photos/id/11/10/6"
                src="https://cdn-icons-png.flaticon.com/512/2159/2159759.png"
              ></v-img>

              <v-card-title> {{ item.name }} </v-card-title>
              <v-divider class="mx-4"></v-divider>
              <v-card-actions>
                <v-btn
                  dark
                  block
                  color="#0372e1"
                  text
                  :to="'/machine/' + item.id"
                >
                  รายการสินค้า
                </v-btn>

                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </div>
</template>

<script>
  export default {
    data() {
      return {}
    },

    created() {
      this.$store.dispatch('getLocation')
    },
    computed: {
      machineCompanys() {
        return this.$store.getters.getAllLocation
      },
    },
  }
</script>
