<template>
  <div>
    <v-content>
      <v-container>
        <v-row justify="center" align="center">
          <v-col
            cols="12"
            sm="6"
            md="6"
            v-for="(item, index) in machineCompanys"
            :key="index"
          >
            <v-card class="mx-auto">
              <iframe
                :src="
                  'https://maps.google.com/maps?q=' +
                  item.lat +
                  ',' +
                  item.lng +
                  '&hl=th&z=12&amp;output=embed'
                "
                width="100%"
                height="400"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>

              <v-card-title> ตู้ {{ index + 1 }} </v-card-title>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </div>
</template>

<script>
  export default {
    middleware: 'isAuthenticated',

    data() {
      return {}
    },

    created() {
      this.$store.dispatch('getLocation')
    },

    computed: {
      machineCompanys() {
        return this.$store.getters.getAllLocation
      },
    },
  }
</script>

<style>
</style>