<template>
  <v-app>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login form</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <div>username: admin, password: 123456</div>
                <v-form>
                  <v-text-field
                    name="login"
                    label="Username"
                    type="text"
                    v-model="username"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    name="password"
                    label="Password"
                    type="password"
                    v-model="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" type="submit" @click="login"
                  >Login</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    layout: 'session',
    name: 'Login',
    data() {
      return {
        username: '',
        password: '',
      }
    },

    methods: {
      async login() {
        try {
          const response = await this.$auth.loginWith('local', {
            data: { username: this.username, password: this.password },
          })
          if (response.data.status == 'success') {
            this.$router.replace({ name: 'index' })
          }
        } catch (e) {
          console.log(e)
        }
      },
    },
  }
</script>

<style></style>
