<template>
  <div>
    <v-content>
      <v-container>
        <v-row align="center" justify="center">
          <v-col md="12">
            <v-form ref="form" v-model="valid">
              <v-text-field
                v-model="email"
                label="E-mail"
                :rules="emailRules"
                required
              ></v-text-field>

              <v-btn color="#4a960a" class="mr-4" dark @click="validate">
                save
              </v-btn>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    middleware: 'isAuthenticated',
    data: () => ({
      valid: false,
      email: '',
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
    }),

    async created() {
      await this.$store.dispatch('getUser')
      this.email = await this.$store.getters.getUser.data.email
    },

    methods: {
      async validate() {
        let req = {
          email: this.email,
          user_id: await this.$store.getters.getUser.data.id,
        }

        if (this.$refs.form.validate()) {
          this.$store.dispatch('updateEmail', req)
        }
      },
    },
  }
</script>

<style>
</style>